{% extends 'classes/base.html' %}
{% load static %}
{% block title %}Contact | Liên hệ{% endblock title %}
{% block content %}
    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">Liên hệ</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'classes:index' %}">Trang chủ</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Liên hệ</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Contact Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Liên hệ</h5>
                <h1>Mẫu liên hệ</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="contact-form bg-secondary rounded p-5">
                        <div id="success"></div>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate" method="post">
                        {% csrf_token %}
                        {{ result|safe }}
                            <div class="control-group">
                                {{ form.name }}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                {{ form.email }}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                {{ form.subject }}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                {{ form.message }}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary py-3 px-5" type="submit" id="sendMessageButton" name="button-submit" value="submit">Gửi</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
{% endblock content %}